@model PersonalityAnalysis.Models.PersonalityQuestion

@{
    ViewBag.Title = "Haha";
}

<style>
    .navbar {
        background: #24d916;
        color: white;
        padding-bottom: 300px;
        border-radius: 80px;
        padding-top:50px;
    }

    .result {
        width: 700px;
        margin-right: 330px;
    }

    .aa {
        padding-right: 20px;
        margin-top: 100px;
    }
</style>
<div class="navbar nav">

    <div class="text-center">
        <h1>أعلان النتيجه</h1>
    </div>


    <h1 class="aa"> تحليل شخصيتك :</h1>


    <div class="result text-center">
       <h2>  أنت شخصيه زباله ومعفنه وحمار كمان يا تافه نعم أنت مغفل كبير ههههههههههههههههههههههههههههههههههههههههه </h2>
      
    </div>

</div>

