@model int
@{
    ViewBag.Title = "Result";
}

<style>
.navbar{background:#24d916;color:white;padding-bottom:150px;border-radius:80px;  padding-top:50px;}
 .result{ width:700px ;margin-right:330px;}

 .aa{padding-right:20px;margin-top:100px;}
</style>
<div class="navbar nav"> 

     <div class="text-center" >
         <h1>أعلان النتيجه</h1>
         <h2>( نتيجتك هى @Model من النقاط)   </h2>  
     </div>
    

    <h1 class="aa"> تحليل شخصيتك: يا @ViewBag.name</h1>


   <div class="result text-center">
       @if (Model > 60)
       {
          @:<h2>تقسم هذه الشخصيه الى قسمين: فالبعض يراها شخصيه معتدة بذاتها ومستبدة فى حين يراها أخرون بأنها شخصيه مثيره للاعجاب، ويرونهاقدوة ليقتدوا بها ويكونوا مثلها،الا أنها شخصيه ليست فى محل ثقه،حيث يتردد العديد من الاشخاص فى الارتباط بعا بشكل جدى وعميق.</h2> 
       }
       else if (Model >= 51 && Model <= 60)
       {
          @: <h2>يراها البعض شخصيّةً قياديّةً بالفطرة، وتتّخذ القرارات بشكل سريع وإن كانت غير صحيحة، وهي شخصيّة جريئة ومغامرة، ترغب بتجربة أي أمر ولو مرّةً واحدةً، تستمع بالمغامرات، ويستمتع الآخرون بصحبتها لأنها شخصيّة مصحوبة بالإثارة.</h2>


       }
       else if (Model >= 41 && Model <= 50)
       {
           @:<h2>شخصيّة حيويّة، وفاتنة، ومُفعَمة بالنشاط، وهي شخصيّة ممتعة ومشوّقة، تحب لفت الانتباه دائماً ولكن بشكل متّزن، كما أنها شخصيّة تساعد الناس وتبهجهم دائماً، وقد يرى الآخرون أنّ هذه الشخصيّة لطيفة، ومتسامحة، وتراعي مشاعر الآخرين.</h2>


       }
       else if (Model >= 31 && Model <= 40)
       {
         @:<h2>شخصيّة حسّاسة، وحذِرة، ودقيقة في عملها، يراها الآخرون بأنّها شخصيّة موهوبة، وذكيّة، ومتواضعة، ونابغة، لا تستطيع تكوين الصداقات بسرعة، ومع ذلك فهي وفيّة لأصدقائها، كما أنّ الأشخاص الذين يعرفون تلك الشخصيّة يعلمون أنّ ثقتها بأصدقائها لا تهتز بسهولة، وإن اهتزت أو فُقِدت فإنها تحتاج إلى وقت طويل لتعود</h2>


       }
       else if (Model >= 21 && Model <= 30)
       {
           @:<h2>شخصيّة مجتهدة لكنّها متسرعة، وحذرة، ودقيقة جداً، وبطيئة، تسير على نمط ثابت في الحياة، لكن من الممكن أن تفاجئ الآخرين في حال قيامها بشيء عفويّ، إلا أنّ الآخرين يعتقدون أنها تحب اختبار كل الأمور بدقة قبل اتخاذ القرار؛ وذلك بسبب طبيعتها الحذرة.</h2>


       }
   </div> 
   
</div>

